.metadata/
sharpen.builder/bin/
sharpen.core/bin/
sharpen.ui.tests/bin-testcases/
sharpen.ui.tests/bin/
sharpen.ui/bin/
LuceneTest/workspace
LuceneTest/log.txt
GrindstoneHelperLib/bin
GrindstoneHelperLib/obj
GrindstoneHelperLib/GrindstoneHelperLib.csproj.user
GrindstoneHelperLib/GrindstoneHelperLib.suo